node_modules
.env
.vite
bin/
obj/
Migrations/
appsettings.json
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json
appsettings.Testing.json
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json
appsettings.Testing.json