node_modules
.env.administrator
.env.customer
.env.seller
.vite
bin/
obj/
dist*
Migrations/
appsettings.json
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json
appsettings.Testing.json
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json
appsettings.Testing.json
*localstack*